@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins' sans-serif;
}
.wrapper{
  background: url(../pic/bg4.png) no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar{
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
.navbar .logo{
  width: 140px;
  height: auto;
  padding: 100px px;
}
.navbar ul{
  float: right;
  margin-right: 20px;
  list-style: none;
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
  position: relative;
}
.navbar ul li a{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 6px 13px;
  text-decoration: none;
  transition: .4s;
}
.navbar ul li a:hover{
  background: #ffb3b3;
  border-radius: 2px;
}
  ul li b{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  transition: .4s;
  display: block;
  text-align: center;
  font-size: 20px;
}
ul li ul.dropdown li{
  display: block;
}
ul li ul.dropdown{
  width: 195%;
  background: rgba(0,0,0,0.4);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li b:hover{
  background: #ffb3b3;
}
ul li:hover ul.dropdown{
  display: block;
}
.wrapper .center{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  user-select: none;
}
.service{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
}
.service .sbox{
    position: relative;
    width: 300px;
    height: 350px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .sbox::before{
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}
.service .sbox:hover::before{
    transform: skew(0deg);
    inset: -10px 40px;
}
.service .sbox::after{
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}
.service .sbox:hover::after{
    transform: skew(0deg);
    inset: 40px -10px;
}
.service .sbox .scontent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 80%;
    height: 80%;
    overflow: hidden;
}
.service .sbox .scontent .sicon{
    columns: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px pink,
    0 0 0 6px (--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: transparent;
    transition: 0.5s ease-in-out;
}
.service .sbox:hover .scontent .sicon{
    background: var(--clr);
    color: pink;
    box-shadow: 0 0 0 4px #2e2e2e,
    0 0 0 300px var(--clr);
}
.service .sbox .scontent .stext h3{
    font-size: 1.5em;
    color: palevioletred;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.service .sbox:hover .scontent .stext h3{
    color: palevioletred;
}.service .sbox .scontent .stext p{
    color: pink;
    transition: 0.5s ease-in-out;
}
.service .sbox:hover .scontent .stext p{
    color: pink;
}
.service .sbox .scontent .stext a{
    position: relative;
    background: var(--clr);
    color: plum;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}
.service .sbox:hover .scontent .stext a{
    background: pink;
    color: var(--clr);
}